body {
	margin: 0;
	font-family: sans-serif;

}

#header {
	height: 50px;
	color: #344A9E;
}

#content {
	height: 50px;
	width: 1160px;
	margin: 0 auto;
}

#logo {
	width: 43px;
	float: left;
	padding: 16px;
	font-weight: bold;
	color: #344A9E;
}

#logo:hover {
	width: 43px;
	float: left;
	padding: 16px;
	font-weight: bold;
	background: #344A9E;
	color: white;
}

#empty {
	height: 50px;
	float: left;
	width: 7%;
}


#menu {
	width: 50%;
	float: left;

}

ul {
	margin: 0;
}
li {
	display: table;
	vertical-align: middle;
	float: left;
	list-style: none; 
	margin-right: 10px;
	bottom: 0;
	height: 34px;
	padding: 16px;
	color: #344A9E;
}

li:hover {
	display: table;
	vertical-align: middle;
	float: left;
	list-style: none; 
	margin-right: 10px;
	bottom: 0;
    height: 18px;
	padding: 16px;
	background: #E6EBFD;
}

/* ------ */

#top {
	height: 230px;
	background: #344A9E;

}

#top-text1 {
	margin: 0 auto;
	width: 1160px;
	height: 100px;
    font-size: 55px;
    color: white;
}

#top-text2 {
	margin: 0 auto;
	width: 1160px;
	height: 50px;
    font-size: 30px;
    color: #8196E5;

}

/* ------ */

#content2 {
	margin: 0 auto;
	width: 1160px;
}

#site {
	width: 79%;
	float: left;
}

#sidebar {
	width: 20%;
	float: left;
}

#site-title {
	font-size: 30px;
}

a.sidebar {
	color: gray;
	text-decoration: none;
}

a.sidebar:hover {
	color: #344A9E;
}

a.news {
	text-decoration: none;
}

#news {
	margin: 20px 0;
	margin-right: 15px;
	padding: 12px;
	border: 1px solid #eee;
	border-left-color: #344A9E;
	border-left-width: 5px;
	border-radius: 3px;
}

h4 {
	color: #344A9E;
	margin: 0;
}

p.data {
	font-size: 11px;
	color: gray;
}

#foot {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  background: #344A9E;
  text-align: center;
  color: white;
  font-size: 13px;
}
